* {
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}
/* header styles */
.header{
    text-align: right;
    background-size: cover;
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    height: 100vh;
}
.header-item{
    padding: 210px 230px 364px 845px;
}
.header-title{
    font-weight: 700;
    font-size: 60px;
    color: #ffffff;
}
.header-description{
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
}
.btn-primary{
    padding: 12px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #067ea6;
    font-size: 13px;
    font-weight: 800;
    border:none;
}

/*  about , about-item styles */
.about{
    display: flex;
    margin: 130px 0 0 200px ;
    gap:90px;
}
.about-item{
    padding: 200px 290px 0px 0px ;
}
.about-title{
    font-weight: 800;
    font-size: 45px;
}
.about-description{
    padding-top: 15px;
    padding: 15px 30px 0 0px;
}
.about-info{
    padding-top: 10px;
    
    
}
.about-it{
    list-style: none;
    padding-bottom: 8px;
    list-style: url(../images/checkmark.svg);
    
    
}


/* my-plans styles */
.my-plans{
    display: flex;
    gap: 150px;
    margin: 0px 250px;
    text-align: center;
}
.my-plans-header{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    margin:180px 0px 50px 0;
}
.my-plans-title{
    padding-top: 15px;
    padding-bottom: 10px;
}
/* text style */
.text{
    
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%) ,url(../images/watch.png);
    background-repeat: no-repeat;
    height: 250px;
    margin: 120px 280px 90px 240px;
    border-radius: 5px;
}
.text-description{
    padding:45px 350px 45px 60px;
}
.text-title{
    font-weight: 600;
    font-size: 45px;
    color: #ffffff;

}
.text .btn-primary{
    padding: 15px 38px;
    font-size: 18px;
}

/* footer section style */
.footer-foot{
    display: flex;
    background-color: black;
    height: 450px;
    
}
.footer-foot-it{
    color: #ffffff;
    padding: 90px 350px 0px 240px;
    
}
.footer-img{
    margin-top:15px;
    
}
.footer-foot-title{
    font-weight: 800;
    font-size: 32px;
    padding-bottom: 7px;
}
.footer-foot-description{
    padding-bottom: 10px;
}


.sub-footer-foot{
    padding-top: 90px;
    margin-right: 320px;

}
.sub-footer-foot input{
    padding: 10px 45px;
    border: 1px solid #ffffff;
    background-color: black;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    
}

.sub-footer-foot-title{
    color: #ffffff;
    font-size: 17px;
    padding-bottom: 15px;
    font-weight: 700;
}
.btn-footer{
    padding: 10px 30px;
    background: #005FAC;
    border-radius: 8px;
    margin-top: 15px;
    color: #ffffff;
    font-weight: 400;
    font-size: 15px;

}
